.advantages {
  margin-bottom: 46px;
}

.advantages__heading {
  margin-top: 0;
  margin-bottom: 30px;

  @include font-resize(36px, 60px);
  text-align: left;
}

.advantages__list {
  @include clear-list();
  @include font-resize(14px, 18px);
  text-align: left;
  font-family: "Arial", sans-serif;
  color: $text-dark-grey-color;
}

.advantages__item {
  margin-bottom: 26px;
}

.advantages__text {
  position: relative;
  margin: 0;
  padding-left: 80px;
}

.advantages__text::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: $bg-green-color;
  z-index: 0;
}

.advantages__text--leaf::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;
  width: 60px;
  height: 60px;
  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  z-index: 1;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-leaf@2x.png");
    background-size: 57px 53px;
    top: 2px;
    left: 2px;
  }
}

.advantages__text--water::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 60px;
  height: 60px;
  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  z-index: 1;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-powder@2x.png");
    background-size: 57px 53px;
    top: 2px;
    left: 2px;
  }
}

.advantages__text--cutlery::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 60px;
  height: 60px;
  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  z-index: 1;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-dining@2x.png");
    background-size: 57px 53px;
    top: 2px;
    left: 2px;
  }
}

.advantages__text--clock::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 60px;
  height: 60px;
  background-image: url("../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  z-index: 1;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-clock@2x.png");
    background-size: 57px 53px;
    top: 2px;
    left: 2px;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    margin: 0;
    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__heading {
    @include font-resize(60px, 60px);
    margin-bottom: 65px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;

    @include font-resize(16px, 24px);
  }

  .advantages__item {
    position: relative;
    width: 354px;
    margin-right: 29px;
    margin-bottom: 73px;
  }

  .advantages__item:nth-child(2n) {
    width: 324px;
    margin-right: 0;
  }

  .advantages__item.advantages__item--last {
    margin-bottom: 53px;
  }

  .advantages__item--leaf::before {
    content: "1";
    position: absolute;

    @include font-resize(281.07px, 281.07px);
    font-family: "Oswald Regular", "Arial", sans-serif;
    top: -30px;
    left: 117px;
    color: #f2f2f2;
  }

  .advantages__text--leaf::after {
    top: 22px;
    left: 16px;
  }

  .advantages__item--water::before {
    content: "2";
    position: absolute;

    @include font-resize(281.07px, 281.07px);
    font-family: "Oswald Regular", "Arial", sans-serif;
    top: -30px;
    left: 117px;
    color: #f2f2f2;
  }

  .advantages__text--water::after {
    top: 22px;
    left: 16px;
  }

  .advantages__item--cutlery::before {
    content: "3";
    position: absolute;

    @include font-resize(281.07px, 281.07px);
    font-family: "Oswald Regular", "Arial", sans-serif;
    top: -30px;
    left: 117px;
    color: #f2f2f2;
  }

  .advantages__text--cutlery::after {
    top: 22px;
    left: 16px;
  }

  .advantages__item--clock::before {
    content: "4";
    position: absolute;

    @include font-resize(281.07px, 281.07px);
    font-family: "Oswald Regular", "Arial", sans-serif;
    top: -30px;
    left: 117px;
    color: #f2f2f2;
  }

  .advantages__text--clock::after {
    top: 22px;
    left: 16px;
  }

  .advantages__text {
    padding: 0;
    padding-top: 120px;
    padding-right: 130px;
    padding-bottom: 50px;
  }

  .advantages__item:nth-child(2n) .advantages__text {
    padding-right: 75px;
  }

  .advantages__text::before {
    top: 6px;
    width: 80px;
    height: 80px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    border: none;
    margin-bottom: 156px;
  }

  .advantages__list {
    display: flex;
    justify-content: flex-start;
  }

  .advantages__item,
  .advantages__item:nth-child(2n) {
    width: 245px;
    padding: 0;
    margin: 0;
    margin-right: 80px;
  }

  .advantages__item:nth-child(4n) {
    margin: 0;
  }

  .advantages__text,
  .advantages__item:nth-child(2n) .advantages__text {
    padding-right: 0;
    text-align: left;
  }
}
