.developed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.developed__name {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 35px;
  color: $text-dark-grey-color;
  font-family: "Arial", sans-serif;

  @include font-resize(16px, 16px);
}

@media (min-width: $tablet-width) {
  .developed {
    margin-top: -8px;
  }

  .developed__name {
    margin-right: 22px;
  }
}
