.example {
  background-color: #f2f2f2;
}

.example__heading {
  margin: 0;
  padding-top: 30px;

  @include font-resize(36px, 60px);
}

.example__text {
  @include font-resize(14px, 18px);
  font-family: "Arial", sans-serif;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: #ffffff;
  }
}
