.example {
  background-color: #f2f2f2;
  padding-bottom: 36px;
  overflow-x: hidden;
}

.example__heading {
  margin: 0;
  padding-top: 17px;
  margin-bottom: 23px;

  @include font-resize(36px, 60px);
}

.example__text {
  margin-top: 0;
  margin-bottom: 25px;
  padding-right: 10px;

  @include font-resize(14px, 18px);
  color: #444444;
  font-family: "Arial", sans-serif;
}

.example__data {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
}

.example__list {
  @include clear-list;
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 122px;
  padding-top: 15px;
  padding-bottom: 17px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__number {
  @include font-resize(24px, 24px);
  text-transform: uppercase;
}

.example__description {
  display: inline-block;
  margin-top: 7px;
  margin-bottom: -33px;
  padding-right: 15px;
  padding-left: 15px;

  @include font-resize(12px, 12px);
  font-family: "Arial", sans-serif;
  max-width: 87px;
  background-color: #f2f2f2;
}

.example__cost {
  margin: 0;

  @include font-resize(14px, 20px);
  text-transform: uppercase;
  text-align: center;
}

.example__images {
  position: relative;
  margin: 0 auto;
  margin-bottom: 32px;
  padding-bottom: 240px;
  width: 280px;
}

.example__img {
  position: absolute;
  top: 0;
  left: -20px;
  width: 320px;
  max-width: none;
  height: 240px;
}

.example__img--after {
  display: none;
}

.example__controls {
  display: flex;
  margin: 0 auto;
  width: 280px;

  @include font-resize(16px, 20px);
  text-transform: uppercase;
}

.example__before {
  padding-left: 43px;
  margin-right: 19px;
  cursor: pointer;
  z-index: 2;
}

.example__after {
  cursor: pointer;
  z-index: 2;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: #ffffff;
  }

  .example__heading {
    @include font-resize(60px, 60px);
    margin-bottom: 66px;
    padding-top: 42px;
  }

  .example__text {
    @include font-resize(16px, 24px);
    margin-bottom: 55px;
  }

  .example__data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .example__item {
    width: 162px;
    margin-right: 40px;
    padding-top: 12px;
    padding-bottom: 19px;
  }

  .example__number {
    @include font-resize(30px, 37.02px);
  }

  .example__description {
    @include font-resize(14px, 14px);
    background-color: #ffffff;
    max-width: 150px;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: -25px;
    margin-top: 9px;
  }

  .example__cost {
    @include font-resize(20px, 20px);
    padding-top: 7px;
    text-align: right;
    width: 192px;
  }

  .example__price {
    display: block;
    padding-top: 9px;
  }

  .example__gallery {
    @include font-resize(20px, 20px);
    position: relative;
    margin-bottom: 68px;
  }

  .example__images {
    width: 690px;
    height: 517px;
    margin-bottom: 39px;
  }

  .example__images::before {
    content: "";
    position: absolute;
    top: 189px;
    left: -5000px;
    background-color: #f2f2f2;
    width: 10000px;
    height: 462px;
    z-index: 0;
  }

  .example__img {
    top: 20px;
    left: 6px;
    width: 690px;
    height: 517px;
  }

  .example__img--after {
    display: block;
  }

  .example__controls {
    margin: 0 auto;
    padding-bottom: 0;
    padding-left: 70px;
    padding-right: 70px;
    width: 708px;
  }

  .example__before {
    @include font-resize(20px, 20px);
    padding: 0;
    padding-bottom: 6px;
    border-bottom: 1px dotted #bebebe;
  }

  .example__after {
    @include font-resize(20px, 20px);
    padding: 0;
    padding-bottom: 6px;
    margin-left: 24px;
    border-bottom: 1px dotted #bebebe;
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;
    background-color: #f2f2f2;
    overflow-x: visible;
  }

  .example-wrapper {
    display: flex;
  }

  .example__info {
    width: 650px;
  }

  .example__slider {
    width: 650px;
  }

  .example__heading {
    background-color: #ffffff;
    margin-top: -175px;
    margin-bottom: 145px;
  }

  .example__text {
    margin-bottom: 70px;
    padding-right: 80px;
  }

  .example__images {
    margin-top: -200px;
    margin-right: -30px;
    margin-bottom: 52px;
  }

  .example__images::before {
    content: none;
  }

  .example__img {
    top: 10px;
    left: 10px;
  }

  .example__controls {
    padding-right: 0;
    padding-left: 140px;
  }

  .example__data {
    flex-direction: column;
  }

  .example__list {
    justify-content: flex-start;
  }

  .example__description {
    background-color: #f2f2f2;
  }

  .example__cost {
    display: flex;
    padding-top: 29px;
    width: 340px;
  }

  .example__price {
    padding-top: 0;
    padding-left: 66px;
  }

  .example__gallery {
    margin-bottom: 30px;
  }

  .example__before:hover,
  .example__after:hover {
    border-bottom: 1px solid #989898;
  }

  .example__before:active,
  .example__after:active {
    border-bottom: none;
  }
}
