.extra {
  position: relative;

  margin-bottom: 35px;
}

.extra::before {
  content: "";
  position: absolute;
  top: 14px;
  right: 0;
  left: 20px;
  z-index: -1;
  width: auto;
  height: 3px;
  background-color: #68b738;
}

.extra__heading {
  margin: 0;
  margin-bottom: 35px;
  width: 245px;

  @include font-resize(24px, 24px);
  word-break: break-all;
  background-color: #ffffff;
}

.extra__list {
  @include clear-list();
  margin-bottom: 38px;
}

.extra__item:first-child {
  border-top: 1px solid #cdcdcd;
}

.extra__data {
  margin-bottom: 16px;
}

.extra__item {
  padding-top: 10px;
  padding-bottom: 17px;
  border-bottom: 1px solid #cdcdcd;
}

.extra__title {
  margin: 0;
  margin-bottom: 15px;

  @include font-resize(16px, 16px);
  text-align: left;
  text-transform: uppercase;
  word-break: break-all;
  color: #222222;
}

.extra__info {
  display: flex;
  justify-content: space-between;

  @include font-resize(14px, 14px);
  font-family: "Arial", sans-serif;
  color: #444444;
}

.extra__quantity {
  margin: 0;
}

.extra__button {
  margin-bottom: 0;
  text-align: center;

  @include font-resize(16px, 20px);
}

.extra__promo {
  text-align: center;
  background-color: #71b548;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px 289px;
  }
}

.extra__text {
  position: relative;

  margin: 0;
  padding: 186px 55px 43px;

  @include font-resize(16px, 20px);
  font-family: "Arial", sans-serif;
  color: #ffffff;
}

.extra__text::before {
  position: absolute;
  top: 65px;
  left: 50%;

  width: 55px;
  height: 60px;

  background-image: url("../img/icon-gift.svg");

  transform: translateX(-50%);

  content: "";
}

@media (min-width: $tablet-width) {
  .extra {
    margin-bottom: 77px;
  }

  .extra::before {
    left: 0;
    top: 22px;
  }

  .extra__heading {
    margin-bottom: 80px;
    width: 410px;

    @include font-resize(36px, 36px);
    text-align: center;
  }

  .extra__list {
    margin-bottom: 69px;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
  }

  .extra__item-wrapper {
    padding-right: 35px;
    padding-left: 38px;
  }

  .extra__item:first-child {
    border-top: 1px solid #e6e6e6;
  }

  .extra__item {
    padding-top: 25px;
    padding-bottom: 27px;

    border-bottom: 1px solid #e6e6e6;
  }

  .extra__data {
    display: flex;
    justify-content: space-between;

    margin-bottom: 22px;
  }

  .extra__title {
    margin: 0;

    @include font-resize(20px, 20px);
  }

  .extra__info {
    margin-top: 4px;

    @include font-resize(16px, 20px);
  }

  .extra__price {
    width: 95px;
    text-align: right;
    word-break: break-all;
  }

  .extra__button {
    @include font-resize(16px, 20px);
  }

  .extra__promo {
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px 200px;
    }
  }

  .extra__text {
    padding-top: 72px;
    padding-right: 115px;
    padding-bottom: 68px;
    padding-left: 425px;

    text-align: left;
  }

  .extra__text::before {
    top: 48%;
    left: 91px;

    transform: translateY(-50%);
  }
}

@media (min-width: $desktop-width) {
  .extra {
    margin-bottom: 85px;
  }

  .extra__main {
    display: flex;
    justify-content: space-between;
  }

  .extra__heading {
    margin-left: -40px;
    margin-bottom: 79px;
    width: 415px;
  }

  .extra__list {
    margin-bottom: 0;
    width: 895px;
    border: none;
  }

  .extra__item:first-child {
    border-top: 1px solid #cdcdcd;
  }

  .extra__item {
    padding-top: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cdcdcd;
  }

  .extra__item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .extra__data {
    margin-bottom: 0;
  }

  .extra__title {
    width: 325px;
  }

  .extra__quantity {
    width: 245px;
  }

  .extra__price {
    margin-right: 35px;
    width: 45px;
    text-align: left;
  }

  .extra__button {
    width: 245px;
  }

  .extra__promo {
    width: 245px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@1x.jpg");
      background-size: 245px 289px;
    }
  }

  .extra__text {
    padding: 188px 40px 40px;
    text-align: center;
  }

  .extra__text::before {
    top: 95px;
    left: 97px;
  }
}
