.intro {
  margin-bottom: 18px;
}

.intro__container {
  position: relative;
  text-align: center;
}

.intro__container::before {
  content: "";
  position: absolute;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-color: #63a73a;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  height: 305px;
  z-index: -1;
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 27px;
}

.intro__heading {
  order: 1;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  @include font();
  @include font-resize(36px, 36px);
  color: $text-white-color;
}

.intro__slogan {
  @include font-resize(14px, 14px);
  order: 2;
  color: $text-white-color;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.intro__img {
  margin-bottom: 4px;
  order: 3;
  align-self: center;
}

.intro__link {
  order: 4;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .intro__container::before {
    display: none;
  }

  .intro__wrapper {
    text-align: left;
    padding-top: 0;
    padding-left: 120px;
  }

  .intro__container {
    background-image: none;
  }

  .intro__heading {
    color: $text-general-color;
    margin-bottom: 40px;
    padding-right: 190px;
    word-break: break-word;

    @include font-resize(60px, 60px);
  }

  .intro__slogan {
    @include font-resize(20px, 20px);
    color: #000000;
  }

  .intro__img {
    order: 4;
    width: 709px;
    height: 609px;
    margin-top: -90px;
    z-index: -1;
  }

  .intro__link {
    order: 3;
    width: 245px;
    padding: 10px 25px;

    @include font-resize(20px, 20px);
  }
}

@media (min-width: $desktop-width) {
  .intro {
    position: relative;
  }

  .intro__container {
    margin-bottom: 120px;
  }

  .intro::before {
    content: "";
    position: absolute;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-color: #63a73a;
    background-repeat: no-repeat;
    height: 696px;
    top: -180px;
    right: 0;
    left: 50%;
    z-index: -1;
  }

  .intro__heading {
    padding-right: 50%;
    margin-bottom: 40px;

    @include font-resize(60px, 60px);
  }

  .intro__img {
    margin-top: -310px;
    margin-left: 190px;
    width: 552px;
    height: 499px;
  }
}
