.intro__container {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-color: #63a73a;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 25px;
  padding-bottom: 167px;
}

.intro__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  @include font();
  @include font-resize(36px, 36px);
  color: $text-white-color;
}

.intro__slogan {
  @include font-resize(14px, 14px);
  color: $text-white-color;
  text-transform: uppercase;
}

.intro__img {
  display: block;
  margin: -140px auto 0;
}

@media (min-width: $tablet-width) {
  .intro__container {
    background-color: $bg-general-color;
    background-image: none;
    padding-left: 90px;
  }

  .intro__heading {
    color: $text-general-color;
    margin-bottom: 40px;
    width: 70%;

    @include font-resize(60px, 60px);
  }

  .intro__slogan {
    @include font-resize(20px, 20px);
    color: #000000;
  }

  .intro__img {
    margin: -140px auto 0;
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  .intro__link {
    position: absolute;
    padding: 10px 25px;
    top: -600px;
    left: 120px;

    @include font-resize(20px, 20px);
  }
}

@media (min-width: $desktop-width) {
  .intro {
    position: relative;
  }

  .intro::before {
    content: "";
    position: absolute;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-color: #63a73a;
    background-repeat: no-repeat;
    width: 720px;
    height: 696px;
    top: -70px;
    right: 0;
    z-index: -1;
  }

  .intro__container {
    width: 610px;
  }

  .intro__heading {
    padding: 0;
    margin: 0;

    @include font-resize(60px, 60px);
  }
}
