.page-header {
  border-bottom: 1px solid #e6e6e6;
}

.page-header__top {
  display: flex;
  padding-top: 12px;
  padding-bottom: 13px;
  justify-content: space-between;
  align-items: center;
}

.page-header__menu-button {
  width: 24px;
  height: 18px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}

.page-header--open {
  background-image: url("../img/icon-mobile-menu.svg");
}

.page-header--close {
  background-image: url("../img/icon-close.svg");
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    padding-top: 22px;
    display: flex;
    justify-content: space-between;
  }

  .page-header__menu-button {
    display: none;
  }

  .page-header {
    border: none;
    margin-bottom: 53px;
  }

  .page-header__top {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    margin-bottom: 108px;
  }

  .page-header__wrapper {
    padding-top: 0;
  }

  .page-header--custom {
    margin-bottom: 73px;
  }

  .page-header__top {
    padding-top: 50px;
    width: 50%;
  }

  .page-header__nav {
    padding-top: 50px;
    width: 50%;
  }
}
