.product-list {
  list-style: none;
  padding: 0;
}

.product-list__item {
  border-top: 1px solid $border-light-grey;
}

.product-list__item-container {
  padding: 0 20px;
  text-align: center;
}

.product-list__wrapper {
  display: flex;
  margin-bottom: 1px;
  justify-content: space-between;
}

.product-list__info {
  display: flex;
  flex-direction: column;
}

.product-list__title {
  @include font-resize(16px, 20px);
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 11px;
  padding-top: 20px;
  padding-right: 40px;
}

.product-list__link {
  @include font-resize(16px, 20px);
  margin-bottom: 23px;
}

.product-list__item--show-all {
  border-bottom: 1px solid $border-light-grey;
  margin-bottom: 0;
}

.product-list__item--show-all .product-list__title {
  position: relative;
  text-align: center;
  padding: 0;
  padding-top: 80px;
  margin-bottom: 8px;
}

.product-list__item--show-all .product-list__title::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/icon-plus-mobile.svg");
  opacity: 0.2;
}

.product-list__item--show-all .product-list__text {
  @include font-resize(12px, 16px);
  margin: 0;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
}

.product-list__item--show-all .product-list__button {
  @include font-resize(16px, 20px);
  border: none;
  color: $text-dark-grey-color;
  text-transform: uppercase;
  background-color: $bg-light-grey;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
  }

  .product-list__item-container {
    padding: 0;
  }

  .product-list > li:nth-last-of-type(-n+2) {
    margin-bottom: 0;
  }

  .product-list__item {
    border: none;
    flex-direction: column;
    margin-bottom: 137px;
    width: 324px;
    background-color: #f2f2f2;
  }

  .product-list__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 34px;
  }

  .product-list__img--small {
    margin-top: -45px;
  }

  .product-list__img--big {
    margin-top: -81px;
  }

  .product-list__info {
    padding-right: 36px;
    padding-left: 37px;
  }

  .product-list__title {
    @include font-resize(20px, 20px);
    text-align: center;
    padding-top: 35px;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 22px;
  }

  .product-list__link {
    @include font-resize(16px, 20px);
    margin-right: 38px;
    margin-bottom: 40px;
    margin-left: 38px;
  }

  .product-list__item--show-all {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
  }

  .product-list__item--show-all .product-list__title {
    margin-bottom: 27px;
    padding-top: 166px;
    padding-right: 80px;
    padding-left: 80px;
  }

  .product-list__item--show-all .product-list__text {
    @include font-resize(16px, 16px);
    margin-bottom: 89px;
    padding: 0 50px;
  }

  .product-list__item--show-all .product-list__title::before {
    top: 57px;
    width: 60px;
    height: 60px;
  }

  .product-list__item--show-all .product-list__button {
    margin-right: 18px;
    margin-left: 18px;
    width: 248px;
  }
}

@media (min-width: $desktop-width) {
  .product-list {
    padding: 0 40px;
  }

  .product-list > li:nth-last-of-type(-n+2) {
    margin-bottom: 140px;
  }

  .product-list__item {
    width: 245px;
  }

  .product-list__wrapper {
    margin-bottom: 35px;
  }

  .product-list__title {
    margin-bottom: 21px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .product-list__item--show-all .product-list__title {
    margin-bottom: 2/px;
    padding-top: 166px;
    padding-right: 35px;
    padding-left: 35px;
  }

  .product-list__item--show-all .product-list__text {
    margin-bottom: 89px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .product-list__item--show-all .product-list__button {
    width: 169px;
  }

  .product-list__item--show-all .product-list__button:hover {
    background-color: #ebebeb;
  }

  .product-list__item--show-all .product-list__button:active {
    background-color: #ebebeb;
    color: rgba($color: #000000, $alpha: 0.3);
  }

  .product-list__item--show-all .product-list__title::before {
    top: 56px;
  }

  .product-list__item--last,
  .product-list > li:nth-last-of-type(-n+2) {
    margin-bottom: 10px;
  }
}
