.product-list {
  @include clear-list();
  max-width: 520px;
  margin: 0 auto;
}

.product-list__item {
  margin-bottom: 25px;
  border-top: 1px solid $border-light-grey;
  min-height: 210px;
}

.product-list__item-container {
  padding: 0 20px;
  text-align: center;
}

.product-list__wrapper {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.product-list__info {
  display: flex;
  flex-direction: column;
}

.product-list__title {
  @include font-resize(16px, 20px);
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-right: 40px;
}

.product-list__item--show-all {
  border-bottom: 1px solid $border-light-grey;
}

.product-list__item--show-all .product-list__title {
  position: relative;
  text-align: center;
  padding: 0;
  padding-top: 80px;
  margin-bottom: 15px;
}

.product-list__item--show-all .product-list__title::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/icon-plus-mobile.svg");
  opacity: 0.2;
}

.product-list__item--show-all .product-list__text {
  @include font-resize(12px, 16px);
  margin: 0;
  margin-bottom: 25px;
  font-family: "Arial", sans-serif;
}

.product-list__item--show-all .product-list__button {
  @include font-resize(16px, 20px);
  border: none;
  color: $text-dark-grey-color;
  text-transform: uppercase;
  background-color: $bg-light-grey;
  display: block;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    max-width: none;
    justify-content: space-between;
    padding: 0 30px;
  }

  .product-list__item-container {
    padding-right: 35px;
    padding-left: 35px;
  }

  .product-list__item {
    border: none;
    flex-direction: column;
    margin-bottom: 140px;
    width: 324px;
    background-color: #f2f2f2;
  }

  .product-list__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .product-list__title {
    @include font-resize(20px, 20px);
    text-align: center;
    padding-right: 60px;
    padding-left: 60px;
  }

  .product-list__link {
    @include font-resize(16px, 20px);
    margin-bottom: 40px;
  }

  .product-list__item--show-all {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
  }

  .product-list__item--show-all .product-list__title {
    margin-bottom: 30px;
    padding-top: 160px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .product-list__item--show-all .product-list__text {
    @include font-resize(16px, 16px);
    margin-bottom: 80px;
    padding: 0 30px;
  }

  .product-list__item--show-all .product-list__title::before {
    top: 70px;
  }
}

@media (min-width: $desktop-width) {
  .product-list {
    width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .product-list__item {
    width: 245px;
  }

  .product-list__wrapper {
    margin-bottom: 35px;
  }

  .product-list__title {
    margin-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .product-list__item--show-all .product-list__title {
    margin-bottom: 25px;
    padding-top: 160px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .product-list__item--show-all .product-list__text {
    margin-bottom: 80px;
    padding: 0;
  }

  .product-list__item--show-all .product-list__title::before {
    top: 70px;
  }
}
