.program {
  overflow-x: hidden;
}

.program__heading {
  margin-top: 15px;
  margin-bottom: 25px;

  @include font-resize(36px, 60px);
  color: #111111;
}

.program__title {
  margin-top: 0;
  margin-bottom: 35px;
  padding-right: 45px;

  @include font-resize(14px, 18px);
  color: #111111;
  text-align: left;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .program__heading {
    margin: 0;
    margin-bottom: 55px;

    @include font-resize(60px, 60px);
  }

  .program__title {
    padding-right: 324px;
    padding-left: 40px;
    margin-bottom: 65px;

    @include font-resize(20px, 30px);
  }
}

@media (min-width: $desktop-width) {
  .program__title {
    padding-right: 895px;
    padding-left: 0;
  }
}
