.programms {
  @include clear-list();
}

.programms__item {
  padding-top: 28px;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 21px;
  margin-bottom: 20px;
  text-align: left;
  background-color: $bg-light-grey;
}

.programms__item:last-child {
  margin-bottom: 0;
}

.programms__title {
  position: relative;
  display: block;
  margin-bottom: 29px;
  padding-left: 70px;

  @include font-resize(24px, 37.02px);
  text-transform: uppercase;
}

.programms__title--slim::before {
  content: "";
  position: absolute;
  left: 9px;
  top: -7px;
  width: 35px;
  height: 49px;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  z-index: 1;
}

.programms__title--slim::after {
  content: "";
  position: absolute;
  left: 1px;
  top: -6px;
  width: 50px;
  height: 51px;
  background-color: $bg-green-color;
  border-radius: 50%;
  z-index: 0;
}

.programms__title--pro {
  margin-bottom: 30px;
}

.programms__title--pro::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 7px;
  width: 67px;
  height: 28px;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  z-index: 1;
}

.programms__title--pro::after {
  content: "";
  position: absolute;
  left: 1px;
  top: -4px;
  width: 50px;
  height: 51px;
  background-color: $bg-green-color;
  border-radius: 50%;
  z-index: 0;
}

.programms__text {
  margin: 0;
  padding-bottom: 22px;
  font-family: "Arial", sans-serif;

  @include font-resize(14px, 18px);
  border-bottom: 1px solid $border-dark-grey;
  color: $text-dark-grey-color;
}

.programms__link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-top: 19px;
  padding-right: 35px;

  @include font-resize(16px, 16px);
  text-transform: uppercase;
  color: $text-general-color;
}

.programms__link::before {
  content: "";
  position: absolute;
  top: 22px;
  right: 1px;
  width: 24px;
  height: 11px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .programms {
    margin-top: -55px;
  }

  .programms__item {
    margin-bottom: 30px;
    padding: 0 52px;
    padding-top: 76px;
    padding-bottom: 48px;
  }

  .programms__title {
    @include font-resize(36px, 37.02px);
    padding-left: 0;
    margin-bottom: 23px;
  }

  .programms__title--slim::before {
    left: 423px;
    top: 2px;
    width: 140px;
    height: 194px;
  }

  .programms__title--slim::after {
    left: 395px;
    top: 15px;
    width: 200px;
    height: 200px;
  }

  .programms__title--pro::before {
    left: 360px;
    top: 58px;
    width: 268px;
    height: 112px;
  }

  .programms__title--pro::after {
    left: 397px;
    top: 15px;
    width: 200px;
    height: 200px;
  }

  .programms__text {
    @include font-resize(16px, 24px);
    padding-right: 230px;
    margin-bottom: 15px;
    border: none;
  }

  .programms__text--pro {
    padding-right: 260px;
  }

  .programms__link {
    @include font-resize(20px, 20px);
    padding-right: 35px;
    padding-bottom: 15px;
  }

  .programms__link::before {
    left: 132px;
    top: 25px;
  }

  .programms__link--pro::before {
    left: 127px;
    top: 26px;
  }
}

@media (min-width: $desktop-width) {
  .programms {
    display: flex;
    justify-content: space-between;
  }

  .programms__item {
    width: 570px;
    padding-top: 0;
    padding-left: 50px;
    padding-right: 0;
  }

  .programms__title {
    padding-top: 80px;
    padding-left: 170px;
    margin-bottom: 75px;
  }

  .programms__title--slim::before {
    left: 0;
    top: 40px;
    width: 70px;
    height: 97px;
  }

  .programms__title--slim::after {
    left: 0;
    top: 40px;
    width: 100px;
    height: 100px;
  }

  .programms__title--pro::before {
    left: 0;
    top: 40px;
    width: 134px;
    height: 56px;
  }

  .programms__title--pro::after {
    left: 0;
    top: 40px;
    width: 100px;
    height: 100px;
  }

  .programms__text {
    padding-right: 50px;
  }
}
