.slider__switch {
  margin-top: 4px;
  margin-right: 17px;
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 5px;
  width: 84px;
  height: 14px;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.slider__switch-thumb {
  float: left;
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 6px;
}
