.social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include clear-list();
  padding: 20px 0;
  width: 135px;
  margin: 0 auto;
}

.social__item {
  display: block;
  width: 22px;
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
  }

  .social__list {
    padding: 0;
    width: 324px;
    border: none;
    justify-content: center;
  }
}
