.social__list {
  display: flex;

  @include clear-list();
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 1px solid $border-dark-grey;
  border-bottom: 1px solid $border-dark-grey;
}

.social__link {
  display: block;
  padding: 22px 0;
}

@media (min-width: $tablet-width) {
  .social__list {
    width: 324px;
    border: none;
  }

  .social__link {
    padding: 0;
  }
}
