@import "variables.scss";
@import "mixins.scss";

.developed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.developed__name {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 35px;
  color: #444444;
  font-family: "Arial", "sans-serif";
  @include font-resize(16px, 16px);
}
