@import "variables.scss";
@import "mixins.scss";

.social__list {
  display: flex;

  @include clear-list();
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 1px solid $dark-grey;
  border-bottom: 1px solid $dark-grey;
}

.social__link {
  display: block;
  padding: 22px 0;
}
