//Text colors
$text-general-color: #000000;
$text-white-color: #ffffff;
$text-dark-grey-color: #444444;

//Background colors
$bg-general-color: #ffffff;
$bg-green-color: #68b738;
$bg-light-grey: #f2f2f2;
$bg-dark-grey: #d9d9d9;

//Border colors
$border-dark-grey: #d9d9d9;
$border-light-grey: #ededed;

$tablet-width: 768px;
$desktop-width: 1300px;
